<div class="customer">
  <h2><%=customer.full_name %></h2>
  <%=image_tag(customer.image) %>
  <p><b>Province:</b></p>
  <p> <%= customer.phone_number %></p>
  <p> <%= customer.email_address %></p>
</div>
