<h1>All Customers Alphabetized</h1>

<%= render partial: 'customer',
           collection: @customers %>

<p><%= link_to 'index', root_path %></p>
<p><%= link_to 'missing_email', missing_email_path %></p>
