<h1>All Customers</h1>

<%= render partial: 'customer',
           collection: @customers %>

<p><%= link_to 'alphabetized', alphabetized_path %></p>
<p><%= link_to 'missing_email', missing_email_path %></p>
