<h1>Customers with missing email</h1>

<%= render partial: 'customer',
           collection: @customers %>

<p><%= link_to 'index', root_path %></p>
<p><%= link_to 'alphabetized', alphabetized_path %></p>
